body{
    background-color: black; 
    overflow-x: hidden;
    margin: 0;
}
::-webkit-scrollbar{
    display: none;
}
/* VIDEO TEST START ANIMATION */
/* VIDEO TEST START ANIMATION */
/* VIDEO TEST START ANIMATION */
.cool-anim{
    height: 100vh;
    width: 100vw;
    z-index: 1000;
}
canvas{
    left: 50%;
    top: 50%;
    transform:  translate(-50% , -50%);
    max-height: 100vh;
    max-width: 100vw;
}

/* VIDEO TEST END ANIMATION */
/* VIDEO TEST END ANIMATION */
/* VIDEO TEST END ANIMATION */


/* ABOUT PAGE LANDING DESIGN */
/* ABOUT PAGE LANDING DESIGN */
/* ABOUT PAGE LANDING DESIGN */
.topBarSpace{
    top: 0;
    width: 100%;
    height: 400px;
}
.topBarSpace .topBar{
    width: 100%;
    height: 400px;
    clip-path: polygon(0 0, 100% 0%, 18% 95%, 0% 100%);
    background-color: #304f54;
    z-index: 10;
}
.topBarSpace .line{
    position: absolute;
    top: 0;
    width: 100%;
    height: 400px;
    clip-path: polygon(0 96%, 0 100%, 100% 90%, 100% 83%);
    background-color:wheat;
    z-index: 150;
}
.topBarSpace .line2{
    clip-path: polygon(17% 95%, 20% 95%, 100% 0, 100% 0);
    background-color:wheat;
    z-index: 150;
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
}
.topBarSpace .line3{
    clip-path: polygon(52% 55%, 100% 45%, 100% 0, 100% 0);
    background-color:#a9af83;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
}
.topBarSpace .line4{
    clip-path: polygon(53% 54%, 100% 0, 75% 0);
    opacity: 50%;
    background-color:#a9af83;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
}
.topBarSpace .line5{
    clip-path: polygon(52% 55%, 100% 45%, 100% 83%, 20% 95%);
    background-color:#542e41;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
}
/*----------------------------*/

.about-article{
    height: 50vh;
    width: 100vw;
    margin-top: 25vh;
    margin-bottom: 25vh;
    background-color: rgb(20, 20, 20);
    opacity: 50%;
    transform: translateY(20%);
    transition: all 1s ease; 
    display: flex;
}
.about-article.active{
    transform: translateY(0);
    opacity: 100%;
}

.about-article img.right{
    width: 30%;
    height: 80%;
    object-fit: cover;
    margin-top: 50px;
    margin-left: 50px;
    opacity: 50%;
    transform: translateX(-50%);
    transition: all 2.5s ease; 
}
.about-article img.active{
    opacity: 100%;
    transform: translate(0);
}

.about-article .text-right{
    background-color: white;
    padding: 8px;
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.3em;
    width: 20%;
    height: 60vh;
    margin-right: 25px;
    margin-left: 30%;
    transform: translateY(5vh);   
    opacity: 50%;
    transition: all 2.5s ease; 
}
.about-article .text-right p,
.about-article .text-left p{
    font-size: x-large;
}
.about-article .text-right.active{
    transform: translateY(-5vh);   
    opacity: 100%;
}
/* END OF ABOUT PAGE LANDING DESIGN */
/* END OF ABOUT PAGE LANDING DESIGN */
/* END OF ABOUT PAGE LANDING DESIGN */



/* top bar animation video  */
/* top bar animation video  */
/* top bar animation video  */
.landing-animation{
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 100%;
    margin-bottom: 20vh;    
}
.landing-animation .banner1 , 
.landing-animation .banner2 , 
.landing-animation .banner3 , 
.landing-animation .banner4{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;   
    
}
.obrazek{
    position: absolute;
    width: 120%;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    animation: zoom-out 6s linear infinite;
}
.text-box{
    width: 40%;
    margin: 20% 0 10% 5%;
    position: relative;
    
}
.text-box span
{
    width: 0%;
    height: 2px;
    background-color: red;
    position: absolute;
    animation: span-mover 6s ease infinite;
}
.text-box h1{
    font-weight: bold;
    font-family: sans-serif;
    font-size: xx-large;
    color: white;
    padding: 0 0 0 5%;
    opacity: 70%;
    transform: translateX(-10%);
    animation: text-mover 6s ease infinite;
}

@keyframes text-mover{
    20%{
        opacity: 100%;
        transform: translateX(0);
    }
    100%{
        opacity: 100%;
        transform: translateX(0);
    }
}
@keyframes span-mover{
    100%{
        width: 50%;
    }
}

@keyframes zoom-out{
    100%{
        width:100%
    }
}
.banner1{
    animation: slide1 24s linear infinite ;
}
.banner2{
    animation: slide2 24s linear infinite ;
}
.banner3{
    animation: slide3 24s linear infinite ;
}
.banner4{
    animation: slide4 24s linear infinite ;
}
  

@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
/* END OF ANIMATION TOP BAR */
/* END OF ANIMATION TOP BAR */
/* END OF ANIMATION TOP BAR */




/* START OF THE NAVBAR  */
/* START OF THE NAVBAR  */
/* START OF THE NAVBAR  */
nav#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: white;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
nav#navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row-reverse;
    float: right;
}
nav#navbar ul a button{
    list-style: none;
    float: right;
    background-color: rgb(185, 185, 185);
    padding: 5px 0 5px 10px;
    padding: 20px;
    height: 100%;
    border: none;    
    font-family: monospace;
    letter-spacing: 0.35em;
    font-size: x-large;
    text-decoration: none;
    transition: all 1s ease;
}
nav#navbar ul a button:hover{
    font-size: xx-large;
}
nav#navbar ul a{
    height: 100%;
    padding: 0 20px;
}
.brand{
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}


/* END OF THE NAVBAR  */
/* END OF THE NAVBAR  */
/* END OF THE NAVBAR  */




/* START OF ARTICLE RIGHT */
/* START OF ARTICLE RIGHT */
/* START OF ARTICLE RIGHT */

@media all and (min-width: 1024px){
    .article img{
        height: 550px;
        object-fit: cover;
    }
}
.article{
    width: 100%;
    min-height: 100vh;
    margin-bottom: 20vh;
    margin-top: 20vh;
}
/*----------------------*/
.bg-art-col{
    height: 90vh;
    width: 100vw;
    background-color: wheat;
    position: absolute;
    transition: all 3.5s ease;
    opacity: 0%;
}
.bg-art-col.right{
    transform: translateX(70vw);
    clip-path: polygon(27% 0, 100% 0, 100% 80%, 61% 80%);
}
.bg-art-col.left{
    transform: translateX(-70vw);
    clip-path: polygon(0 0, 73% 0, 27% 100%, 0 100%);
}
.bg-art-col.active{
    opacity: 100%;
    transform: translateX(0vw);
}
/*----------------------------*/
.images{
    top: 5vh;
    position: relative;
    width: 100%;
    z-index: 10;
    transition: all 2s ease;
    opacity: 30%; 
}
.images.right{
    transform: translateX(75%);
}
.images.left{
    transform: translateX(-75%);
}
.images.active{
    transform: translateX(0);
    opacity: 100%;
}
/*------------------------------*/
.text{
    margin-top: 12vh;
    width: 40vw;
    padding:  8px 8px 8px 8px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: white;
    opacity: 0%;    
    border-radius: 0.5rem;
    transition: all 3s ease;
    transform: translateY(50px);
}
.text.left{
    margin-left: 8vw;
}
.text.right{
    float: right;
    margin-right: 8vw;
}

.text.active{
    transform: translateY(0);
    opacity: 90%;
}
.text h1{
    padding: 8px;
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.5em;
    opacity: 0%;
    transition: all 3s ease;
}

.text p{
    font-family: sans-serif;
    letter-spacing: 0.3em;
    line-height: 170%;
    padding-right: 8px;
    padding-left: 15px;
    opacity: 0%;
    transition: all 3s ease;
}
.text h1.active , .text p.active{
    opacity: 100%;
}


/* END OF ARTICLE RIGHT */
/* END OF ARTICLE RIGHT */
/* END OF ARTICLE RIGHT */