body{
    background-color: black; 
    overflow-x: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;    
}
.container{
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    /*margin-top: 10vh;*/
    animation: ForLoading 0s ease;
}
@keyframes ForLoading{
    0%{
        display: none;
        width: 0px;
        height: 0px;
    }
    99%{
        display: none;
        width: 0px;
        height: 0px;
    }
    100%{
        display: contents;
    }
}
h1{
    padding: 8px;
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.5em;
    /*opacity: 0%;*/
    transition: all 3s ease;
}

p{
    font-family: sans-serif;
    letter-spacing: 0.3em;
    line-height: 170%;
    padding-right: 8px;
    padding-left: 15px;
    /*opacity: 0%;*/
    transition: all 3s ease;
}
/*::-webkit-scrollbar{
    display: none;
}*/
/* VIDEO TEST START ANIMATION */
/* VIDEO TEST START ANIMATION */
/* VIDEO TEST START ANIMATION */

canvas {
    margin: 5% 0 5% 0;
    width: 100%;
    height: auto;
}

.loading_anim{
    background-color: black;
    width: 100vw;
    max-height: 100vh;
    animation: loading-anim ease 0s;
    opacity: 0%;
}
.loading_anim img{
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}
@keyframes loading-anim {
    0%{
        opacity: 0%;
    }
    90%{
        opacity: 100%;
    }
    100%{
        display: none;
    }
}

/* top bar animation video  */
/* top bar animation video  */
/* top bar animation video  */
.landing-animation{
    margin: 0;
    padding: 0;
    height: 100vh;
    max-width: 100%;    
    position: relative;
    scroll-snap-align: end;
}
.landing-animation .banner1 , 
.landing-animation .banner2 , 
.landing-animation .banner3 , 
.landing-animation .banner4{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;   
}
.obrazek{
    position: absolute;
    width: 120%;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    animation: zoom-out 6s linear infinite;
}
.text-box{
    width: 40%;
    margin: 20% 0 10% 5%;
    position: relative;
    
}
.text-box span
{
    width: 0%;
    height: 2px;
    background-color: red;
    position: absolute;
    animation: span-mover 6s ease infinite;
}
.text-box h1{
    font-weight: bold;
    font-family: sans-serif;
    font-size: xx-large;
    color: white;
    padding: 0 0 0 5%;
    opacity: 70%;
    transform: translateX(-10%);
    animation: text-mover 6s ease infinite;
}

@keyframes text-mover{
    20%{
        opacity: 100%;
        transform: translateX(0);
    }
    100%{
        opacity: 100%;
        transform: translateX(0);
    }
}
@keyframes span-mover{
    100%{
        width: 50%;
    }
}

@keyframes zoom-out{
    100%{
        width:100%
    }
}
.banner1{
    animation: slide1 24s linear infinite ;
}
.banner2{
    animation: slide2 24s linear infinite ;
}
.banner3{
    animation: slide3 24s linear infinite ;
}
.banner4{
    animation: slide4 24s linear infinite ;
}
  

@keyframes slide1{
    0%{
        visibility: visible;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}

@keyframes slide2{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: visible;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide3{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: visible;
    }
    100%{
        visibility: hidden;
    }
}

@keyframes slide4{
    0%{
        visibility: hidden;
    }
    25%{
        visibility: hidden;
    }
    50%{
        visibility: hidden;
    }
    75%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }
}
.landing-animation section{
    width: 100%;
    height: 20vh;
    background-color: rgba(0, 0, 0, 0.171);
    position: absolute;
    margin-top: 81vh;
}
.landing-animation section button{
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: xx-large;
    background-color: rgba(0, 0, 0, 0.171);

}
/* END OF ANIMATION TOP BAR */
/* END OF ANIMATION TOP BAR */
/* END OF ANIMATION TOP BAR */




/* START OF THE NAVBAR  */
/* START OF THE NAVBAR  */
/* START OF THE NAVBAR  */
nav#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: white;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
nav#navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row-reverse;
    float: right;
}
nav#navbar ul a button{
    list-style: none;
    float: right;
    background-color: rgb(185, 185, 185);
    padding: 5px 0 5px 10px;
    padding: 20px;
    height: 100%;
    border: none;    
    font-family: monospace;
    letter-spacing: 0.35em;
    font-size: x-large;
    text-decoration: none;
    transition: all 1s ease;
}
nav#navbar ul a button:hover{
    font-size: xx-large;
}
nav#navbar ul a{
    height: 100%;
    padding: 0 20px;
}
.brand{
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: black;
}


/* END OF THE NAVBAR  */
/* END OF THE NAVBAR  */
/* END OF THE NAVBAR  */




/* START OF ARTICLE RIGHT */
/* START OF ARTICLE RIGHT */
/* START OF ARTICLE RIGHT */

@media all and (min-width: 1024px){
    .article img{
        height: 550px;
        object-fit: cover;
    }
}
.article , .items{
    width: 100vw;
    height: 101vh;
    /*margin-bottom: 20vh;
    margin-top: 20vh;*/
    scroll-snap-align: end;
}
.items{
    display: flex;
    align-items: center;
}
.items p{
    left: 0;
    color: white;
    justify-content: left;
}
.items .buttons {
    display: block;
    float: right;
}
.items .buttons button {
    width: 20vw;
    height: 10vh;
}

.article:nth-of-type(2){
    background-color: rgb(68, 68, 68);
}
.article:nth-of-type(1){
    background-color: rgb(255, 126, 126);
}
/*----------------------*/
.bg-art-col{
    height: 90vh;
    width: 100vw;
    background-color: wheat;
    position: absolute;
    transition: all 3.5s ease;
    opacity: 0%;
}
.bg-art-col.right{
    transform: translateX(70vw);
    clip-path: polygon(27% 0, 100% 0, 100% 80%, 61% 80%);
}
.bg-art-col.left{
    transform: translateX(-70vw);
    clip-path: polygon(0 0, 73% 0, 27% 100%, 0 100%);
}
.bg-art-col.active{
    opacity: 100%;
    transform: translateX(0vw);
}
/*----------------------------*/
.images{
    top: 5vh;
    position: relative;
    width: 100%;
    z-index: 10;
    transition: all 2s ease;
    opacity: 30%; 
}
.images.right{
    transform: translateX(75%);
}
.images.left{
    transform: translateX(-75%);
}
.images.active{
    transform: translateX(0);
    opacity: 100%;
}
/*------------------------------*/
.text{
    margin-top: 12vh;
    width: 40vw;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    background-color: white;
    opacity: 0%;    
    border-radius: 0.5rem;
    transition: all 5s ease;
    transform: translateY(50px);
}
.text.left{
    margin-left: 8vw;
}
.text.right{
    float: right;
    margin-right: 8vw;
}

.article.active .text{
    transform: translateY(0);
    opacity: 100%;
}
