/*public settings*/
body{
    background-color: rgb(53, 46, 35); 
    overflow-x: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;   
    display: flex; 
    flex-direction: column;
    font-size: 100%;
}
.container{
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    margin: 0;
}
article{
    height: min-content;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
article h2{
    color: black;
    border-bottom: 0.0625rem gray solid;
    width: 80%;
    margin: 1.5rem auto;
    font-size: 1.4rem;
}
article p {
    color: black;
    padding: 0.3125rem 1.25rem;
    text-align: center;
}
section{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;    
    position: relative;
    scroll-snap-align: start;
}
h2{
    padding: 0.5rem;
    text-align: center;
    font-family: monospace;
    letter-spacing: 0.3em;
}
p{
    font-family: sans-serif;
    letter-spacing: 0.25em;
    line-height: 1.875rem;
    padding-right: 0.5rem;
    padding-left: 0.9375rem;
}
/* landing page */
.landing_page{
    width: 100vw;
    height: 100vh;
    background: white;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.landing_page img:first-child{
    display: block;
    width: 100vw;
    height: auto;
    margin: 0 auto;
    z-index: 0;
    overflow-y: hidden;
}
.landing_page img:last-child{
    width: 14vw;
    height: auto;
    position: absolute;
    top: 5vh;
}
.links{
    position: absolute;
    display: flex;
    justify-content: space-around;
    bottom: 25vh;
}
.links a{
    text-decoration: none;
    border: 2px solid white;
    font-size: 1.3rem;
    font-family: sans-serif;
    color: white;
    padding: .5rem 1.5rem;
    font-weight: 400;
    margin: 0 20px;
    transition: all 1.3s ease;
}
.links a:hover,
.links a:focus{
    border: 2px solid white;
    background-color: white;
    color: black;
}
/*Second page about me part*/
/* loading animation */
.loading-anim{
    width: 100%;
    height: 100vh;
    background-color: blanchedalmond;
    position: fixed;
    opacity: 75%;
    z-index: 1000;
    animation: disappear ease 10s ;
}
@keyframes disappear{
    80%{
        opacity: 75%;
    }
    100%{
        opacity: 0%;
        display: none;
    }
}
#logo{
    position: fixed;
    transform: scale(.4);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
}
#logo line,
#logo polygon{
    animation: line-anim ease 6s forwards; 
}
#logo tspan,
#logo tspan.cls-3,
#logo tspan.cls-4{
    animation: fill ease 8s forwards;
}
#logo line{
    stroke-dasharray: 435;
    stroke-dashoffset: 435;
}
#logo tspan{
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
}
#logo tspan.cls-3,
#logo tspan.cls-4{
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
}
#logo polygon{
    stroke-dasharray: 1050;
    stroke-dashoffset: 1050;

}
@keyframes fill{
    0%{
        
        fill: transparent;
    }
    60%{
        fill: transparent;
        stroke-dashoffset: 0;
    }
    100%{
        fill: #231f20;
    }
}
@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
/*First Sections*/
.first-section{
    background-color: blanchedalmond;
    height: min-content;
    padding-bottom: 3.125rem;
}
.first-section article{
    background-color: blanchedalmond;
    display: flex;
    position: static;
    margin-top: 4.6875rem;
    margin:  0;
}
.first-section article:first-child{
    z-index: 20;
    background-color: blanchedalmond;
}
.first-section article:nth-child(3){
    z-index: 0;
    background: white;
    position: static;
    margin-top: 2.3rem;
    display: none;
}
.img_cont{
    width: 60vw;
    height: 40vh;
    overflow: hidden;
    margin: 0.9375rem auto;
}
.img_cont img{
    width: 100%;
    position: relative;
    bottom: 31.25rem;
}
.first-section article p{
    width: 75vw;
    margin-left: 12.5vw;
}
.buttons_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    z-index: 20;
    margin-bottom: 2.1875rem;
}
.buttons{
    margin-right: 1.25rem;
}
.buttons a:last-child i{
    margin-top: 4px;
}
.buttons_container a , .more_info{
    text-decoration: none;
    color: black;
    margin: 1rem;
    transition: .7s all ease;
}
.more_info{
    padding: .5rem 2rem;
    background-color: transparent;
    font-size: 1.3rem;
    font-family: sans-serif;
    border: 2px solid black;
    letter-spacing: 0.3125rem;
}
.more_info:hover,
.more_info:focus{
    border: 2px solid black;
    background: black;
    color: white;
}
/*Second Sections*/
.second-section{
    background-color: rgb(128, 108, 78);
}
.second-section img{
    clip-path: polygon(0 0, 86% 0, 28% 100%, 0% 100%);
    height: 100vh;
}
.second-section-text{
    position: relative;
    top: -80%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: white;
}
.second-section-text p {
    width: 50vw;
}
.Changing-text-pos{
    display: flex;
    justify-content: flex-end;
    right: -2%;
    bottom: 60%;
    position: relative;
}
#Changing-text{
    text-align: start;
    display: flex;
    align-items: center;
    padding: 0.3125rem 0.3125rem 0.3125rem 1.25rem;
    min-width: 25vw;
    height: 10vh;
    border-radius: 0.3125rem;
    background-color: rgb(51 51 51);
    color: white;
    line-height: 6.25rem;
    font-weight: bold;
    position: relative;
    width: max-content;
    font-size: xxx-large;
}

/*Gallery sections*/
.gallery{
    background-color: blanchedalmond;
    z-index: 20;
    height: min-content;
    display: flex;
    flex-flow: column;
}
.galleryCont{
    width: 100vw;
    flex-flow: row;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 8rem;
    mix-blend-mode: difference;
    margin-top: 8rem;
    margin-bottom: 50vh;
}
.galleryCont p{
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 400;
    font-size: 10rem;
}
.gallery:nth-child(2){
    display: block;
}
.gallery-images img{
    height: auto;
}
.sec--pic ,
.fourth--pic , 
.sixth--pic{
    width: 50%;
    float: right;
    margin: 5% 10% 5% 20%;
}
.first--pic ,
.thrd--pic , 
.fifth--pic { 
    margin: 5% 20% 5% 10%;
    width: 50%; 
}
form{
    width: 100vw;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: 600;
    width: 50vw;
    margin-left: 25vw;
}
select , input , form>button , textarea{
    width: 50vw;
    height: 43px;
    margin: 20px auto;
    border-radius: 5px;    
    border: none;
}
textarea{
    padding: 5px;
}
form select{
    display: flex;
}
form input:nth-child(3),
form input:nth-child(2){
    width: 23vw;
}
form input:nth-child(4){
    height: min-content;
    min-height: 43px;
    width: 50vw;
}
form button{
    width: 20vw;
    height: 65px;
    font-size: 1.3rem;
    letter-spacing: 5px;
}
select:hover , input:hover , form>button:hover,
select:focus , input:focus , form>button:focus{
    background-color: gray;
    border: none;
    color: white;
}
.social-media{
    margin-bottom: 50px;
}
.social-media h2{
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
    border-bottom: 2px solid red;
    width: 50vw;
    margin-left: 25vw;
    margin-top: 20px;
    text-align: center;
}
.social-media a img{
    width: 17vw;
    height: auto;
    margin-left: 22vw;
    transition: all 1s ease;
}
.social-media a:last-child img{
    margin-bottom: 50px;
}
.social-media a img:hover,
.social-media a img:focus{
    transform: scale(1.2);
}
footer{
    width: 100%;
    color: white;
    font-size: .7rem;
    position: absolute;
    bottom: 0;
    background: black;
}
footer h2{
    letter-spacing: normal;
    font-weight: normal;
    word-spacing: normal;
    padding: 5px;
}
footer h2>a{
    text-decoration: none;
    color: rgb(163, 163, 163);
    transition:ease .5s;
}
footer h2>a:hover,
footer h2>a:focus{
    font-size: larger;
}