{% extends "layout.html" %}
{% block content %}

<nav id="navbar">
    <a href="" class="brand">Brand logo</a>
    <ul>
        <a href="{{ url_for('home') }}"><button>Home</button></a>
        <a href="{{ url_for('contact') }}"><button>Contact Us!</button></a>
    </ul>
</nav>

<div class="topBarSpace">
    <div class="topBar"></div>
    <div class="line"></div>
    <div class="line2"></div>
    <div class="line3"></div>
    <div class="line4"></div>
    <div class="line5"></div>
</div>

<div class="about-article reveal">
    <img src="/static/ragnar.jpg" alt="" class="reveal right">
    <div class="text-right reveal">
        <h1>Lorem</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Placeat ea id expedita alias hic similique nobis facere,
            vitae sunt odio molestias cumque quasi quaerat excepturi
            debitis nam. Deleniti, voluptates placeat!
        </p>
    </div>
</div>

<div class="about-article reveal">
    <img src="/static/ragnar.jpg" alt="" class="reveal left">
    <div class="text-left reveal">
        <h1>Lorem</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Placeat ea id expedita alias hic similique nobis facere,
            vitae sunt odio molestias cumque quasi quaerat excepturi
            debitis nam. Deleniti, voluptates placeat!
        </p>
    </div>
</div>

{% endblock %}