<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/static/style.css" rel="stylesheet">
        <title>{{ nadpis }}</title>
    </head>
    <body class="">
        
        {% block content %}
        <nav>
            <div class="banner1"  >
                <img src="/static/ragnar.jpg" class="obrazek" alt="">
                <div class="text-box absolute">
                    <p class="">Stoly </p>
                    <p class="">na mieru</p>
                </div>
            </div>
        
            <div class="banner2">
                <img src="/static/mercedes-amg-c63-s-2018_14-clanokW.jpg" class="obrazek" alt="">
                <div class="text-box absolute">
                    <p class="">Pre </p>
                    <p class="">Kazdeho</p>
                </div>
            </div>
        
            <div class="banner3">
                <img src="/static/a1916302_large.jpg" class="obrazek" alt="">
                <div class="text-box absolute">
                    <p class="">Len od </p>
                    <p class="">1000000$ vyssie</p>
                </div>
            </div>
        
            <div class="banner4">
                <img src="/static/ragnar.jpg" class="obrazek" alt="">
                <div class="text-box absolute">
                    <p class="">Nerobim zadarmenko</p>
                    <p class="">na mieru</p>
                </div>
            </div>
        </nav>
        <div class="slider">

        </div>
            
        
        
        <div class="min-h-screen">
            <img src="/static/mercedes-amg-c63-s-2018_14-clanokW.jpg" alt="" class="w-3/4 h-auto" style="margin-left: 12.50%;">
            <p class="px-5 py-2 text-white text-xl md:text-2xl tracking-wider md:tracking-widest">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras vitae dolor ultricies, consectetur tellus ut, tincidunt 
                metus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Maecenas vulputate velit et venenatis vehicula. Phasellus consectetur 
                eleifend elementum. Aliquam dictum nisl tristique semper pretium. 
        
            </p>
        </div>
        
        <div class="mb-5 h-screen">
            <img src="/static/mercedes-amg-c63-s-2018_14-clanokW.jpg" alt="" class="w-full h-auto">
            <p class="px-5 py-2 text-white text-xl md:text-2xl tracking-wider md:tracking-widest">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras vitae dolor ultricies, consectetur tellus ut, tincidunt 
                metus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Maecenas vulputate velit et venenatis vehicula. Phasellus consectetur 
        </div>
        
        <div class="mb-5 h-screen">
            <img src="/static/mercedes-amg-c63-s-2018_14-clanokW.jpg" alt="" class="w-full h-auto">
            <p class="px-5 py-2 text-white text-xl md:text-2xl tracking-wider md:tracking-widest">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras vitae dolor ultricies, consectetur tellus ut, tincidunt 
                metus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Maecenas vulputate velit et venenatis vehicula. Phasellus consectetur 
                eleifend elementum. Aliquam dictum nisl tristique semper pretium. 
        
            </p>
        </div>
        
        <div class="mb-5">
            <img src="/static/mercedes-amg-c63-s-2018_14-clanokW.jpg" alt="" class="w-full h-auto">
            <p class="px-5 py-2 text-white text-xl md:text-2xl tracking-wider md:tracking-widest">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Cras vitae dolor ultricies, consectetur tellus ut, tincidunt 
                metus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                Maecenas vulputate velit et venenatis vehicula. Phasellus consectetur 
        
            </p>
        </div>
        {% endblock %} 
        <nav class="mt-5 relative bottom-0 w-full">
            <button class="w-full h-20 bg-yellow-900 text-white text-xl hover:bg-yellow-800">Test</button>
            <button class="w-full h-20 bg-yellow-900 text-white text-xl hover:bg-yellow-800">Test 2!</button>
        </nav> 
    </body>

</html>