<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/responsive.css">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/v4-shims.js"></script>
    <title>wooden monopoly</title>
</head>

<body>
    <main class="container" id="main">
        <section class="first-section" >
            <article class="first-section-article" id="sect1">
                <h2>Adam "Chlende" Bender</h2>
                <div class="img_cont">
                    <img src="/static/pictures/adam1.jpeg" alt="adam working on his table from massive">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Suscipit voluptatum, porro ducimus excepturi quod corporis
                    placeat dolorem, ullam repellat ipsa et, aperiam fugiat illo?
                    Vero nam voluptate eaque laborum unde.Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Ea eaque beatae quam dolorem
                    odio dicta laudantium fugit, sed quisquam blanditiis unde
                    est. Nobis optio esse consequuntur perspiciatis culpa maiores itaque!
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ea eaque beatae quam dolorem odio dicta laudantium fugit,
                    sed quisquam blanditiis unde est. Nobis optio esse
                    consequuntur perspiciatis culpa maiores itaque!
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
            </article>
            <div class="buttons_container">
                <button class="more_info">More</button>
                <div class="buttons">
                    <a href="#sect2"><i class="fas fa-image fa-lg"></i></a>
                    <a href="#sect3"><i class="fas fa-envelope-open-text fa-lg"></i></a>
                </div>
            </div>
            <article class="first-section-article-more" id="more_you_know">
                <h2>Nieco viacej o mojej praci</h2>
                <div class="img_cont">
                    <img src="/static/pictures/adam1.jpeg" alt="adam working on his table from massive">
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
                
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Suscipit voluptatum, porro ducimus excepturi quod corporis
                    placeat dolorem, ullam repellat ipsa et, aperiam fugiat illo?
                    Vero nam voluptate eaque laborum unde.Ea eaque beatae quam dolorem
                    odio dicta laudantium fugit, sed quisquam blanditiis unde
                    est. Nobis optio esse consequuntur perspiciatis culpa maiores itaque!
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ea eaque beatae quam dolorem odio dicta laudantium fugit,
                    sed quisquam blanditiis unde est. Nobis optio esse
                    consequuntur perspiciatis culpa maiores itaque!
                </p>
            </article>
        </section>

        <section class="gallery" id="sect2">
            <div class="galleryCont">
                <p role='textbox' aria-multiline='true'>G</p>
                <p role='textbox' aria-multiline='true'>A</p>
                <p role='textbox' aria-multiline='true'>L</p>
                <p role='textbox' aria-multiline='true'>L</p>
                <p role='textbox' aria-multiline='true'>E</p>
                <p role='textbox' aria-multiline='true'>R</p>
                <p role='textbox' aria-multiline='true'>Y</p>
            </div>
        </section>

        <section id="sect3">
            <form action="">
                <select name="" id="">
                    <option value="">Stol</option>
                    <option value="">Skrina</option>
                    <option value="">Stolicka</option>
                    <option value="">Chata</option>
                </select>
                <input type="email" placeholder="Email" required>
                <input type="tel" placeholder="Tel.cislo" required>
                <textarea placeholder="Napiste svoje poziadavky" rows="4" cols="50"></textarea>
                <button type="submit">Submit</button>
            </form>
            <div class="social-media">
                <h2>social media</h2>
                <a href="#">
                    <img src="/static//pictures/6641c94e15a0be37af49a4250386c03e.png" alt="Instagram link">
                </a>
                <a href="#">
                    <img src="/static//pictures/Twitter-Logo.png" alt="Twitter link">
                </a>
            </div>
            <footer>
                <h2>&#64; Copyright 2021 wooden monopoly. Všetky práva vyhradené. Stranka spravana od <a
                        href="#">Richard</a></h2>
            </footer>
        </section>

    </main>
    <div class="loading-anim">
        <svg id="logo" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 434 157.59">
            <defs>
                <style>
                    .cls-1,
                    .cls-2 {
                        fill: none;
                        stroke: #231f20;
                        stroke-miterlimit: 10;
                    }

                    .cls-1 {
                        stroke-width: 3px;
                    }

                    .cls-2 {
                        font-size: 70px;
                        stroke-width: 2px;
                        font-family: MyriadPro-Regular, Myriad Pro;
                    }

                    .cls-3 {
                        letter-spacing: -0.03em;
                    }

                    .cls-4 {
                        letter-spacing: 0.01em;
                    }
                </style>
            </defs>
            <polygon class="cls-1" points="392.5 156.09 41.5 156.09 42.5 2.09 393.5 2.09 392.5 156.09" />
            <line class="cls-1" y1="80.09" x2="434" y2="80.09" /><text class="cls-2" transform="translate(68 59.59)">
                <tspan class="cls-3">W</tspan>
                <tspan x="56.91" y="0">ooden</tspan>
            </text><text class="cls-2" transform="translate(68 135.59)">
                <tspan class="cls-4">M</tspan>
                <tspan x="56.7" y="0">onopoly</tspan>
            </text>
        </svg>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.3/jquery.scrollTo.min.js"></script>
    <script>
        setTimeout(function () {
            $('.loading-anim').css({ "display": "none" });
        }, 1000)
        var scroll_up = $("#sect1").offset().top + $('.buttons_container').height();
        var scroll_down = $("#sect1").offset().top + $('.buttons_container').height() + $('#more_you_know').height()
        console.log($("#sect1").offset().top + $('.buttons_container').height() + $('#more_you_know').height())
        
        /*console.log($("#sect1").offset().top)
        console.log($("#more_you_know").offset().top)
        console.log($(".buttons_container").offset().top)

        console.log($("#sect1").height())
        console.log($("#more_you_know").height())
        console.log($(".buttons_container").height())*/

        
        $('.more_info').click(function (event) {
            event.preventDefault();
            var clicks = $(this).data('clicks');
            if (clicks) {
                $('.more_info').text("Less");
                $('#more_you_know').slideDown(1000);
                
                $('#main').animate({
                    scrollTop: scroll_down
                },1100)
                
            } else {
                $('.more_info').text("More");
                $('#more_you_know').slideUp(1000);
                $('#main').animate({
                    scrollTop: scroll_up
                },1100)
            }
            $(this).data("clicks", !clicks);
        });

        /*const scrollEvent = () => {
            const main = document.querySelector('#main');
            console.log(main.scrollTop);
        }
        main.addEventListener('scroll', scrollEvent);*/

        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowheight = window.innerHeight;
                var revealtop = reveals[i].getBoundingClientRect().top;
                var revealpoint = 0;

                if (revealtop < windowheight - revealpoint) {
                    reveals[i].classList.add('active');
                } else {
                    reveals[i].classList.remove('active');
                }
            }
        }
    </script>
</body>

</html>